[submodule "deps/monodepth2"]
	path = deps/monodepth2
	url = git@github.com:nianticlabs/monodepth2.git
[submodule "pix2pix/pytorch-CycleGAN-and-pix2pix"]
	path = pix2pix/pytorch-CycleGAN-and-pix2pix
	url = git@github.com:junyanz/pytorch-CycleGAN-and-pix2pix.git
